<div class="row d-flex justify-content-between">
    <div class="col-md-5">
        <div class="form-inline">
            <input class="form-control" ng-model="$ctrl.query" placeholder="Search" />
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="form-inline">
            <label for="sortBy" style="margin-right:5px">Sort by: </label>
            <select id="sortBy" class="form-control" ng-model="$ctrl.orderProp">
                    <option value="-name">Name</option>
            </select>
        </div>
    </div>
</div>

<ol reversed class="people" style="min-height:500px">
    <li ng-repeat="people in $ctrl.people | filter:$ctrl.query | orderBy:$ctrl.orderProp">
    <div class="container">
    <div class="row">
      <div class="col-sm">
              <dd>
            <span style="font-size: 14px; font-weight:bold"> <a target="_blank" href="{{people.url}}"> {{people.name}} </a> </span>
              <span>({{people.affiliation}})</span>
              <dd><span style="font-size: 14px; font-weight:bold">Title: {{people.title}}</span>
              </dd>
              
              </div>
              <div class="col-sm">
                <img src={{people.image_src}} width="200pt">
                    <br> </br>
              </div>
                </div>
              </div>
    </li>
</ol>
