/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: [days] auto [time-0930] auto [time-1000] auto [time-1030] auto [time-1100] auto [time-1130] auto [time-1200] auto [time-1230] auto [time-1300] auto [time-1330] auto [time-1400] auto [time-1430] auto [time-1500] auto [time-1530] auto [time-1600] auto [time-1630] auto [time-1700] auto [time-1730] auto [time-1800] auto [time-1830] auto;
    /* Note 1:
    Use 24hr time for gridline names for simplicity

    Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
    Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
    */
    grid-template-columns: [times] 5em [day-1-start] 1fr [day-1-end day-2-start] 1fr [day-2-end day-3-start] 1fr [day-3-end day-4-start] 1fr [day-4-end];
  }
}
.time-slot {
  grid-column: times;
}

.day-slot {
  display: none;
  /* hidden on small screens and browsers without grid support */
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .day-slot {
      display: block;
      padding: 10px 5px 5px;
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
/* Small-screen & fallback styles */
.session {
  margin-bottom: 1em;
}

@supports (display: grid) {
  @media screen and (min-width: 700px) {
    .session {
      margin: 0;
    }
  }
}
/*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/
body {
  padding: 50px;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
}

.session {
  padding: 0.5em;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0, rgba(0, 0, 0, 0.3) 4px 4px 0;
}

.session-title,
.session-time,
.session-day,
.session-presenter {
  display: block;
}

.session-title,
.time-slot {
  margin: 0px;
  font-size: 1em;
}

.session-title a {
  color: #fff;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.session-title a:hover {
  font-style: italic;
}
.session-title a:focus {
  outline: 2px dotted rgba(255, 255, 255, 0.8);
}

.day-slot,
.time-slot {
  font-weight: bold;
  font-size: 0.75em;
}

.day-1 {
  background-color: #1259B2;
  color: #fff;
}

.day-2 {
  background-color: #687f00;
  color: #fff;
}

.day-3 {
  background-color: #544D69;
  color: #fff;
}

.day-4 {
  background-color: #c35500;
  color: #fff;
}

.day-all {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  color: #000;
  box-shadow: none;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}

.meta {
  color: #555;
  font-style: italic;
}

.meta a {
  color: #555;
}

hr {
  margin: 40px 0;
}